@using BangBangFuli.H5.API.Core.Entities
@model Coupon
@{
    ViewData["Title"] = "添加券";
    Layout = "~/BasePages/_Layout.cshtml";
    List<BatchInformation> BatchInfoList = ViewBag.BatchInfos;
}
<blockquote class="layui-elem-quote">
    添加券码信息
</blockquote>
<div class="manage-form-container">
    <form class="layui-form" method="post" id="addform" action="/EnterCustom/SaveCoupon">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input layui-form-text" name="Code" id="Code" value="@(Model!=null?Model.Code:"")" placeholder="请输入券编号" autocomplete="off" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">券密码</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input layui-form-text" name="Password" id="Password" value="@(Model!=null?Model.Password:"")" placeholder="请输入券密码" autocomplete="off" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">批次</label>
            <div class="layui-input-block">
                <select class="layui-form-select" name="BatchId" lay-filter="BatchId" lay-search>
                    <option value=""></option>
                    @if (BatchInfoList != null && BatchInfoList.Count > 0)
                    {
                        foreach (var info in BatchInfoList)
                        {
                            <option value="@info.Id" data-id="@info.Id">@info.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有效时间</label>
            <div class="layui-input-block">
                <input type="text" name="ValidityDate" id="ValidityDate" lay-verify="ValidityDate" value="@(Model!=null?Model.ValidityDate:DateTime.MaxValue)" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总次数</label>
            <div class="layui-input-block">
                <input type="text" name="TotalCount" lay-verify="TotalCount" autocomplete="off" value="@(Model != null?Model.TotalCount:0)" placeholder="请输入总次数" class="layui-input">
            </div>
        </div>
        <input type="hidden" name="ID" value="@(Model!=null ? Model.Id:0)" id="ID" />
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/layui/jquery.validate.js"></script>
    <script src="~/layui/jquery.form.js"></script>
    <script type="text/javascript">
        layui.use(['form', 'element', 'layer','layedit', 'laydate'], function () {
            var layer = layui.layer
            var form = layui.form
                , laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#ValidityDate'
            });

        })

          $('#addform').validate({
            ignore:"",
            messages: {
                Code: {
                    maxlength: "最多20个字"
                },
            },
            submitHandler: function (form) {
                layer.load(0, { shade: false })
                $(form).ajaxSubmit(function (res) {
                    if (res.code == 1) {
                        layer.msg('保存成功', { icon: 6 });
                        window.location = '/EnterCustom/QueryCouponList';
                    }
                    else if (res.code == -1)
                    {
                        layer.msg('券已存在', { icon: 5 });
                    }
                    else {
                        layer.msg('保存失败', { icon: 5 });
                    }
                })
            }
        })

    </script>
}
