@model List<OrderViewModel>
@{
    ViewData["Title"] = "订单管理";
    Layout = "~/BasePages/_Layout.cshtml";
}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>订单信息综合查询</legend>
</fieldset>
<div class="layui-fluid">
    <div class="layui-row" id="content_table">
        <table class="layui-table" lay-filter="test">
            <thead>
                <tr>
                    <th>
                        订单号
                    </th>
                    <th>
                        券码
                    </th>
                    <th>
                        联系人
                    </th>
                    <th>
                        手机号码
                    </th>
                    <th>
                        地址
                    </th>
                    <th>
                        邮编
                    </th>
                    <th>
                        座机
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CouponCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contactor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobilePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-small" onclick="del('@(item.OrderId)')">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var layer, form
        layui.use(['form', 'element', 'layer', 'laypage', 'upload', 'table'], function () {
            form = layui.form
            layer = layui.layer
            del = function (id) {
                layer.confirm('是否删除？', { icon: 3, title: '删除提示' }, function (index) {
                    $.get('/EnterCustom/DelOrder?id=' + id, function (res) {
                        if (res.code == 1) {
                            layer.msg('成功', { icon: 6 });
                            window.location = '/EnterCustom/QueryOrderList'
                        } else {
                            layer.msg('失败', { icon: 5 });
                        }
                    })
                    layer.close(index);
                });
            }

        });
    </script>
}
