@model List<CouponViewModel>
@{
    ViewData["Title"] = "提货券信息";
}
<h2>提货券信息</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">添加提货券</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                券码
            </th>
            <th>
                密码
            </th>
            <th>
                有效期
            </th>
            <th>
                可用次数
            </th>
            <th>
                总次数
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliableCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-primary m-1">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.Code" class="btn btn-primary m-1">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-primary m-1">删除</a>
            </td>
        </tr>
        }
    </tbody>
</table>
