@model List<SupplierViewModel>
@{
    ViewData["Title"] = "供应商信息";
}
    <h2>供应商信息</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">添加供应商</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                供应商编码
            </th>
            <th>
                供应商名字
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-primary m-1">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.SupplierId" class="btn btn-primary m-1">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-primary m-1">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
